//
// ---- Bounding ----
// Utility that create a bounding box around an icon.
//

.bounding-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.bounding-32 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.bounding-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.bounding-48 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}

.bounding-56 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
}

.bounding-64 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
}

.bounding-72 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 72px;
}

.bounding-80 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.bounding-88 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
}

.bounding-96 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 96px;
}
