.bounding-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.bounding-64 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
}

.bounding-96 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 96px;
}
