//
// ---- Display ----
// Utilities for controlling the display box type of an element.
//

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}
