@import "./variables";

@mixin font-style($weight: false, $size: false, $lh: false, $color: false) {
  font-family: $main-font;
  @if $weight {
    font-weight: $weight;
  }
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $color {
    color: $color;
  }
}
