@import "../scss/connect";

.input-style {
  @include font-style(300, 24px, 24px, #ffffff);

  height: 52px;
  padding: 0px 16px;

  outline: none;

  background: rgba(255, 255, 255, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 12px;

  &:focus,
  &:active {
    border: 1px solid #ffffff;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.button-style {
  @include font-style(300, 24px, 24px, #ffffff);

  padding: 0px 24px;
  height: 52px;

  background: #4d88ff;
  border-radius: 12px;

  &:hover {
    background: #3377ff;
  }
  &:active {
    background: #457ae5;
  }
}

.container {
  min-height: 100vh;
  min-width: 100%;

  background: #4d88ff;
  // background: url(./src/img/ukraine.jpeg) 50% / cover no-repeat;
}

.weather-block {
  width: 720px;
  padding: 24px 32px;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}

.top {
  padding: 12px 0px;
  gap: 16px;
}

.title {
  h1 {
    @include font-style(400, 48px, 64px, #ffffff);
  }
}

.refresh {
  @include font-style(400, 28px, 32px, #ffffff);

  &:hover {
    color: #3377ff;
  }
  &:active {
    color: #457ae5;
  }
}

.search-bar {
  padding: 24px 0px;
}

.bottom,
.top {
  padding: 12px 0px;
}

.degrees {
  font-size: 56px;
  font-weight: 700;
}

.city {
  @include font-style(400, 32px, 32px, #ffffff);
}

.weather__temp {
  @include font-style(500, 64px, px, #ffffff);
}

.weather__icon {
  @include font-style(false, 72px, 72px, #ffffff);
}

.info-block {
  height: 96px;
  padding: 16px 16px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  .icon {
    @include font-style(false, 48px, 64px, #4d88ff);
  }
  &__label {
    @include font-style(300, 20px, 24px, #666666);
  }
  &__value {
    @include font-style(400, 40px, 40px, #ffffff);
  }
}

.weather__main {
  @include font-style(400, 24px, 24px, #ffffff);
}
