@import "../scss/connect";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.input-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 343px;
  height: 36px;

  outline: none;
  /* grayscale-6 */

  border: 1px solid #ebebeb;
  border-radius: 8px;
}

.input-style:focus,
.input-style:active {
  border: 1px solid indigo;
}

.container {
  min-height: 100vh;
  min-width: 100%;
}

.weather-block {
  width: 80%;
  padding: 24px 24px;
  background: lightgrey;
  border-radius: 20px;
}

.search-bar {
  padding: 24px 0px;
}

.bottom,
.top {
  padding: 24px 24px;
}

.degrees {
  font-size: 56px;
  font-weight: 700;
}

.city {
  font-size: 40px;
  font-weight: 500;
  margin-left: 12px;
}

.bottom__block {
  padding: 24px 24px;

  .value {
    font-size: 40px;
    font-weight: 700;
  }
}
